<ng-content></ng-content>


<!-- <div class="card-body">
    <h5 class="card-title">Username: <span class="span-username">{{detail?.username}}</span></h5>
    <h5 class="card-title">Email: <span class="span-username">{{detail?.email}}</span></h5>
    <h5 class="card-title">Address: <span class="span-username">{{detail?.address?.street}}</span> </h5>
    <h5 class="card-title">Phone no: <span class="span-username">{{detail?.phone}}</span></h5>
    <h5 class="card-title">Website: <a href="#" class="span-username">{{detail?.website}}</a></h5>
    
  </div> -->